/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500&display=swap");
* {
  margin: 0px;
  overflow-x: hidden;
  /* font-family: "Raleway", sans-serif; */
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
h1 {
  font-size: 3em;
  font-weight: 200;
}
a {
  text-decoration: none;
  font-weight: 200;
  color: black;
}
a:hover {
  color: rgb(63, 62, 62);
}
.head-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
header {
  position: relative;
  perspective: 3000px;
  height: 45vh;
  width: 110%;
  margin-left: -3%;
  margin-top: -3%;
  padding-top: 18%;
  background-size: cover;
  filter: darken(70%);
  background-color: white;
  z-index: 20;
}
.window {
  display: none;
}
.header-word {
  font-weight: 300;
}
.header-word i {
  color: red;
}
.header-img {
  transform-style: preserve-3d;
  margin: 30px;
  z-index: 3;
}

.test {
  width: 700px;
  height: 550px;
  /*margin-left: -50px;*/
  margin-top: -12px;
  background-image: url(images/photo-bg-bottom2.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.inner-test {
  transform-style: preserve-3d;
  width: 800px;
  height: 550px;
  /*margin-left: -50px;*/
  background-image: url(images/photo-bg-top2.png);
  background-size: contain;
  background-repeat: no-repeat;
  /*transform: translateZ(100px);*/
}
.header-img {
  transform-style: preserve-3d;
  margin-left: 60px;
  margin-top: 70px;
}
.window {
  overflow: hidden;
  border: 1px solid black;
  height: 430px;
  width: 30%;
  min-width: 550px;
  margin-left: 20px;
}

.head-info-wrapper {
  transform-style: preserve-3d;
  font-size: 0.8em;
  height: auto !important;
  width: auto;
  padding: 2em;
  margin-left: auto;
  padding-left: auto;
}
.head-info-wrapper h1,
h2 {
  padding-left: 60px;
}
.links {
  display: flex;
  justify-content: center;
  padding-left: 30px;

  padding-right: 50px;
}
.links a {
  text-decoration: none;
  color: black;
  font-size: 0.8em;
  padding-left: 5px;
  padding-right: 5px;
}
.projectheader {
  text-align: center;
}
.calculator_section {
  height: 74vh;
  z-index: -22 !important;
}

.calc-wrapper {
  position: absolute;
  top: 100%;
  left: -60%;
  z-index: 20;
}
.test-output {
  position: absolute;
  filter: opacity(0%);
  top: 99.5%;
  left: 270px;
  width: 400px;
  height: 675px;

  background-image: linear-gradient(10deg, #f28f0ee0, #ec1e1e36, #ffffff00);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  z-index: 1 !important;
}

.calctext {
  position: absolute;
  top: 70vh;
  left: 10%;
  width: 300px;

  border-radius: 5px;
  padding: 3em;
  box-shadow: 2px 12px 8px 6px rgba(0, 0, 0, 0.075);
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
.moviesitetext {
  width: 300px;
  height: 20em;
  border-radius: 5px;
  padding: 3em;
  box-shadow: 2px 12px 8px 6px rgba(0, 0, 0, 0.075);
  background-color: rgb(255, 255, 255);
  z-index: 200;
}

.moviesite {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  padding-top: 5em;
}
.moviesitetext {
  width: 100vw;
  height: auto;
  margin-top: 5em;
  margin-right: 0em;
  margin-left: 0em;
  margin-bottom: 3em;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 2px 12px 8px 6px rgba(0, 0, 0, 0.075);
  background-color: rgb(255, 255, 255);
}
.moviesite img {
  position: relative;
  margin-left: auto;

  margin-right: auto;
  margin-top: -2em;
  width: 100%;
  height: auto;

  box-shadow: 7px 7px 17px 3px rgba(0, 0, 0, 0.418);
}
.gamesite img {
  position: relative;
  margin-left: auto;

  margin-right: auto;
  margin-top: -2em;
  width: 100%;
  height: auto;
  box-shadow: 7px 7px 17px 3px rgba(0, 0, 0, 0.418);
}
.gamesite {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  height: 75vh;
  padding-top: 2em;
}

.gamesite-text {
  width: 100vw;
  height: auto;
  margin-top: -3em;
  margin-right: 1em;
  margin-left: 0em;
  margin-bottom: 3em;
  border-radius: 5px;
  padding: 0em 3em 0em 1em;
  box-shadow: 2px 12px 8px 6px rgba(0, 0, 0, 0.075);
  background-color: rgb(255, 255, 255);
  z-index: 200;
}

footer {
  text-align: center;
  padding-bottom: 1em;
}

@media screen and (min-width: 1000px) {
  header {
    height: 75vh;
  }
  .head-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .test {
    margin-left: -50px;
  }
  .inner-test {
    margin-left: -50px;
  }

  .window {
    display: block;
    overflow: hidden;
    border: 1px solid black;
    height: 430px;
    width: 30%;
    min-width: 550px;
    box-shadow: 2px 2px 8px 6px rgba(30, 30, 60, 0.28);
  }
  .about {
    background-color: white;
    width: 550px;
    margin-top: 30px;
    padding: 20px;
    z-index: 200;
    /*background-image: linear-gradient(90deg, #ffd6506d, #da4a0c5b);*/
    box-shadow: -2px 2px 8px 6px rgba(30, 30, 60, 0.28);
    text-align: left;
  }

  .text1 {
    transform-style: preserve-3d;
    font-size: 1.5em;
  }
  .head-info-wrapper {
    transform-style: preserve-3d;
    height: 470px;
    width: 700px;
    margin-left: -80px;
    padding-left: 40px;
  }
  .head-info-wrapper h1 {
    padding-left: 60px;
    padding-top: 5px;
  }
  .head-info-wrapper h2 {
    padding-left: 64px;
  }
  .links {
    position: absolute;
    top: 47em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 90px;
    transition: all 0.3s;
  }
  .links a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.3s;
  }
  .links a:hover {
    box-shadow: 0px 10px 3px -7px rgba(30, 30, 60, 0.28);
  }
  .calc-wrapper {
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 20;
  }
  .calctext {
    top: 130vh;
    left: 30%;
    z-index: 1000;
  }
  .moviesitetext {
    width: 350px;
    height: 20em;
    margin-top: 3em;
    margin-right: auto;
    margin-left: 15%;
    border-radius: 5px;
    padding: 3em;
    box-shadow: 2px 12px 8px 6px rgba(0, 0, 0, 0.075);
    background-color: rgb(255, 255, 255);
  }
  .moviesite {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 75vh;
    padding-top: 5em;
  }
  .moviesite img {
    position: absolute;
    right: 2em;
    width: 50%;
    height: auto;

    box-shadow: 7px 7px 17px 3px rgba(0, 0, 0, 0.418);
  }
  .gamesite {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 75vh;
    padding-top: 5em;
  }

  .gamesite-text {
    width: 400px;
    height: 25em;
    margin-top: 1em;
    margin-right: 10%;
    margin-left: auto;
    border-radius: 5px;
    padding: 2em;
    box-shadow: 2px 12px 8px 6px rgba(0, 0, 0, 0.075);
    background-color: rgb(255, 255, 255);
  }
  .gamesite img {
    position: absolute;
    left: 2em;
    width: 50%;
    height: auto;
    box-shadow: 7px 7px 17px 3px rgba(0, 0, 0, 0.418);
  }
}
@media screen and (max-width: 999px) {
  body {
    max-width: 100vw;
    overflow: hidden;
  }
  header {
    height: auto;
  }
  .head-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
  }
  .test {
    display: none;
    margin-left: auto;
  }
  .inner-test {
    margin-left: auto;
  }

  .window {
    display: none;
    overflow: hidden;
    border: 1px solid black;
    height: 440px;
    width: 100%;
    margin-right: -40px;
    margin-top: -50px;
    min-width: 560px;
    box-shadow: 2px 2px 8px 6px rgba(30, 30, 60, 0.28);
  }
  .about {
    background-color: white;
    width: 90%;
    height: auto;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 4em;
    padding: 1em;
    z-index: 200;
    /*background-image: linear-gradient(90deg, #ffd6506d, #da4a0c5b);*/
    box-shadow: none;
    text-align: left;
  }

  .text1 {
    transform-style: preserve-3d;
    font-size: 1.5em;
  }
  .head-info-wrapper {
    transform-style: none;
    height: auto;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: auto;
    font-size: 1em;
    padding: 0em;
  }
  .head-info-wrapper h1 {
    padding-left: 1em;
    padding-top: 0px;
  }
  .head-info-wrapper h2 {
    padding-left: 2em;
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    transition: all 0.3s;
    text-align: center;
  }
  .links a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s;
  }
  .links a:hover {
    box-shadow: 0px 10px 3px -7px rgba(30, 30, 60, 0.28);
  }
  .calculator_section {
    height: auto;
    padding-right: 20px;
    z-index: -22 !important;
  }
  .calc-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    left: 0%;
    z-index: 20;
  }
  .calctext {
    position: relative;
    top: 0vh;
    left: 0%;
    width: 100%;
    margin-left: auto;
    margin-right: 5em;
    padding: 1em;
    margin-bottom: 2em;
    z-index: 1000;
    box-shadow: none;
  }
  .moviesitetext {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 3em;
    margin-right: 5em;
    margin-left: auto;
    margin-bottom: 0em;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 2px 12px 8px 6px rgba(0, 0, 0, 0.075);
    background-color: rgb(255, 255, 255);
    box-shadow: none;
  }
  .moviesite {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: auto;
    padding-right: 5px;
    padding-top: 0em;
    padding-bottom: 1em;
    margin-bottom: 2em;
  }
  .moviesite img {
    position: relative;
    right: 0em;
    width: 100%;
    height: auto;
    margin-bottom: 0em;
    box-shadow: 7px 7px 17px 3px rgba(0, 0, 0, 0.418);
  }
  .gamesite {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: auto;
    padding-top: 0em;
    margin-top: 2em;
    padding-right: 5px;
  }

  .gamesite-text {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 2em;
    margin-right: 5em;
    margin-left: auto;
    border-radius: 5px;
    padding: 1em;
    box-shadow: none;
    background-color: rgb(255, 255, 255);
  }
  .gamesite img {
    position: relative;
    left: 0em;
    padding-top: 4em;
    width: 100%;
    height: auto;
    box-shadow: 7px 7px 17px 3px rgba(0, 0, 0, 0.418);
  }
}
